{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
	<form method="post">
		<br/>
		<fieldset class="row mb-3">
			<legend class="row-form-label">{{ question }}</legend>
			<div class="row">
				<div class="col-1">
					Aromatic
				</div>
				<div class="col-4">
					<input type="range" class="form-range" min="0" max="2" name="Aroma">
				</div>
				<div class="col-1">
					Spicy
				</div>	
			</div>
			<div class="row">
				<div class="col-1">
					Young
				</div>
				<div class="col-4">
					<input type="range" class="form-range" min="0" max="2" name="Ripening">
				</div>
				<div class="col-1">
					Barrel
				</div>	
			</div>
			<div class="row">
				<div class="col-1">
					Light
				</div>
				<div class="col-4">
					<input type="range" class="form-range" min="0" max="2" name="Body">
				</div>
				<div class="col-1">
					Full-bodied
				</div>	
			</div>
		</fieldset>
		{% if not last %}
		<button type="submit" name="next" class="btn btn-primary mb-5">Next</button>
		{% endif %}
		<button type="submit" name="result" class="btn btn-primary mb-5 ms-3">Recommend</button>
		{% if not last %}
			<button type="submit" name="skip" class="btn btn-secondary mb-5 ms-3">Skip Question</button>
		{% endif %}
	</form>
{% endblock %}