{% extends "base.html" %}

{% block content %}
  <h2>Inicia sessió</h2>
  <form method="POST">
    <div class="mb-3 col-4">
      <label for="username" class="form-label">Usuari</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3 col-4">
      <label for="password" class="form-label">Contrasenya</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember">
      <label class="form-check-label" for="exampleCheck1">Recorda'm</label>
    </div>
    <button type="submit" class="btn btn-secondary">Iniciar sessió</button>
  </form>
{% endblock %}